PORT=3001
# URL de Conexão com o Banco de Dados Neon PostgreSQL
DATABASE_URL="postgresql://investhubdb_owner:npg_nQaI8ELyoG1R@ep-falling-cherry-b6q0n4zw-pooler.c-2.sa-east-1.aws.neon.tech/investhubdb?sslmode=require"
JWT_SECRET="sua_chave_secreta_super_segura"

# Chaves de APIs Externas (Opcionais)
PLUGGY_CLIENT_ID="0a61d759-5752-4525-adb1-9aad034a9798"
PLUGGY_CLIENT_SECRET="b94a2d62-5171-4af1-a9b7-a60a4b7dbde2"
BRAPI_TOKEN="sHCJaVprWckgemVUC2RhqX"
